version: "3.9"
services:
  db:
    build:
      context: ./db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: project_management_system
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=th_TH.utf8"
      LANG: th_TH.utf8
      LC_ALL: th_TH.utf8
      TZ: Asia/Bangkok
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  backend:
    build:
      context: ./backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db        # ต้องตรงกับ service db
      DB_USER: postgres
      DB_PASSWORD: 1234
      DB_NAME: project_management_system
      DB_PORT: 5432
    ports:
      - "3001:8080"

volumes:
  postgres_data: